<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8"/>
    <title>DietiDeals24, reset your password</title>
</head>
<body>
    <div layout:fragment="content">
        <h2>Hello <span th:text="${username}">user</span>, did you forget your password?</h2>
        <p><a th:href="${resetLink}">Click here</a> to reset your password</p>
        <p>If you didn't request this, please ignore this email.</p>
    </div>
</body>
</html>