<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8"/>
    <title>DietiDeals24, you have a new message</title>
    <style>
        @media (prefers-color-scheme: dark){
            .message-box{
                border: 1px solid #3f3f46 !important;
            }
            .reply-btn{
                background-color: #1eb377 !important;
                color: #030712 !important;
            }
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <h2>You have a new message about <span th:text="${auctionTitle}">auction</span></h2>
        <p>Hello <strong th:text="${receiver}">user</strong>, you and <strong th:text="${sender}">sender</strong> have concluded a deal. Below is their message:</p>
        <div class="message-box" style="padding: 10px; border: 1px solid #cbd5e1">
          <p th:text="${message}">Message</p>
        </div>
        <p>Please don't reply to this email. You can reply by clicking the button below:</p>
        <a th:href="${replyLink}" class="reply-btn" style="display:inline-block; width: 100%; background-color: #2d7074; color: white; padding: 10px; text-decoration: none; border-radius: 5px; text-align: center; font-size: 32px;">Reply</a>
    </div>
</body>
</html>